/* FONTS */
@font-face {
  font-family: 'josefin_sansthin';
  src: url('../fonts/josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'bellotaregular';
  src: url('../fonts/bellota-regular-webfont.woff2') format('woff2'),
       url('../fonts/bellota-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'bellotabold';
  src: url('../fonts/bellota-bold-webfont.woff2') format('woff2'),
       url('../fonts/bellota-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'bowlby_oneregular';
  src: url('../fonts/bowlbyone-regular-webfont.woff2') format('woff2'),
       url('../fonts/bowlbyone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'averageregular';
  src: url('../fonts/average-regular-webfont.woff2') format('woff2'),
       url('../fonts/average-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'oswaldregular';
  src: url('../fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/oswald-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* NODES MODIFICATION */
html {
  scroll-padding-top: calc(4.5rem - 1px);
}
html.sr .load-hidden{
  visibility : hidden;
}

body {
  letter-spacing: 0.0625em;
}

div {
  border : red solid 1px;
}
hr{
  border: #fefdec 1px solid;
}
h2{
  color : #fefdec;
  font-family: "bellotaregular";
  padding-top : 5rem;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fefdec;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #fefdec;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-color: #fefdec;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-family: 'bowlby_oneregular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  font-weight: 1300;
  line-height: 2.5rem;
  /* letter-spacing: 0.8rem; */
  color : #fefdec;
}
.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.about-section {
  background-color: #fefdec;
  height:90vh;
}
.about-content{
  z-index: 12 ;
}
.about-img {
  width:30vw;
  height:70vh;
  margin-top: 5rem;
  filter:drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.527));
  background: linear-gradient(to bottom, #11192d7c, #11192d4d, #11192d41 100%), url("../assets/img/about.png");
  background-size: cover; 
  
}
.soft-skills{
  background-color: #6eb4d1;
  width:fit-content;
  border-radius: 50px;
  padding: 0.6rem;
  margin: 0.4rem;
  font-size: 0.8rem;
  font-family:'josefin_sansthin';
  font-weight: 900
}
.skills-section{
  width: 100%;
  display:flex;
}
#polygon-two{
  background-color: #11192d;
  height: 90vh;
  width:80%;
  position:absolute;
  right : 0px;
  z-index:0;

}
.hobbies-icons{
  width: 4.5rem;
}

.contact-section{
  background-color: #11192d;
}
footer{
  background-color: #11192d;
}
.projects-section {
  padding: 10rem 0;
  background-color: #11192d;
}
.projects-section .featured-text {
  padding: 2rem;
}
.signup-section {
  padding: 6rem 0;
  background: linear-gradient(to bottom, #11192d, #11192d6e, #11192d 100%), url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.signup-section .form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #6eb4d1;
}
.contact-section .card h4, .contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #6eb4d1;
  color:#6eb4d1;
  border-width: 0.25rem;
  width: 3rem;
  opacity: 1;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}

.polygon {
  position : absolute;
  height : 100vh;
  width: 75vw;
  background-color: #11192d;
  z-index: 0;
  /* box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.555); */
  
}
#my-photo{
  height: 30vw;
  position:absolute;
  right: 9vw;
  top: 15vw;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.322));
}
.letter{
  transition:1s;
}
.letter:hover{
  color: #f9f28a;
  transition: 0.4s;
  cursor:default;
}
.letter:first-of-type, .letter:nth-of-type(6){
  color:#f9f28a;
}
#skills{
  background-color: #11192d;
}
.skill-title{
  color: #fefdec;
  font-family:'josefin_sansthin';
  font-weight: 1000;
  font-size: 3rem;
}
.skill-sub{
  color:#fefdec;
  font-family: 'josefin_sansthin' ;
  font-size: 2rem;
  font-weight: 700;
}
.skills-div-one img, .skills-div-two img, .skills-div-three img{
  height: 4rem;
}
.findmore-title{
  color:#fefdec;
  font-family: 'josefin_sansthin' ;
  font-size: 3rem;
  font-weight: 700;
}
#find-more{
  background-color: #11192d;
}
.contact-me{
  color: #fefdec;
  font-family:'josefin_sansthin';
  font-weight: 1000;
  font-size: 3rem;
}
#typewriter{
  height: 6rem;
  background-color: #fefdec;
  --bs-gutter-x: 0rem;
}
#typewriter a {
  text-decoration: none;
  color: #11192D;
  font-size: 4rem;
  font-family:'oswaldregular';
  font-weight:100;
}

#mainTitle{
  z-index: 3!important;
}

#about-title{
  font-family : 'josefin_sansthin';
  font-size : 3rem;
  font-weight: 1000;
}

#about-title ~ p {
  font-family : 'bellotaregular';
  font-size : 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
  text-align: end;

}
#linkedin{
  height : 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: #fefdec;
  position: relative;
  transition: 0.5s;
}
#linkedin img{
width:7.7rem;
height: 7.7rem;
position : absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#linkedin:hover{
  transform:rotateY(360deg);
  transition: 0.8s;
  background-color: #6eb4d1;
}
.findmore-elements{
  height: 300px;
}
#github-findmore{
  background: #fefdec;
  border-radius: 50%;
  height : 9rem;
  width : 9rem;
  position:relative;
  transition: 0.5s;
}
#github-findmore:hover{
  transform:rotateY(360deg);
  transition: 0.8s;
  background-color: #6eb4d1;
}
#github-findmore img{
  height: 7rem;
  width: 7rem;
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#my-resume{
  background: #fefdec;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  position: relative;
  transition: 0.5s;
}
#my-resume:hover{
  transform:rotateY(360deg);
  background-color: #6eb4d1;
  transition: 0.8s;
}
.cv-icon:hover{
  color:#6eb4d1;
  transition: 0.8s;
}
.cv-icon{
  position : absolute;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #11192d;
  font-size: 4.5rem;
  color:#fefdec;
  transition: 0.5s  
}
.bg-white{
  background-color: #fefdec!important;
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
.project-text{
  background-color: #fefdec;
  color:#11192d;
}
.project-frame{
  background-color: #fefdec;
}
.project-title{
  color: #fefdec;
  font-family:'josefin_sansthin';
  font-weight: 1000;
  font-size: 3rem;
}
.form-control{
  background-color: #fefdec;
}
.navbar-collapse{
  flex-grow:0;
}
.shadow{
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.431));
}
#submitButton {
  color: #fefdec;
  background-color: #64a19d;
  border-color: #64a19d;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: #fefdec;
    transition : 0.3s;
  }
  #mainNav .navbar-brand:hover {
    color: #f9f28a;
    transform: translateY(-3px);
    transition: 0.3s;
  }
  #mainNav .nav-link {
    transition: 0.3s;
    padding: 2rem 1.5rem;
    color: #fefdec;
  }
  #mainNav .nav-link:hover {
    color: #f9f28a;
    transform: translateY(-3px);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fefdec;
    
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #11192D;
    transform:none;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #11192D;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
    transform:none;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #6eb4d1;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #6eb4d1;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #6eb4d1;
    outline: none;
    border-bottom: 0.25rem solid #6eb4d1;
  }
}

.btn-primary {
  background-color: #fefdec;
  color : #6eb4d1;
  padding-left : 0.8rem;
  padding-right : 0.8rem;
  padding-top : 0.8rem;
  padding-bottom : 0.8rem;
  transition: 0.2s ease-in-out;
}
.btn-primary:hover{
  background-color: #6eb4d1;

}
.btn-primary:active{
  background-color: #11192d;
}
.btn-primary:focus{
  background-color: #fefdec;
  color:#6eb4d1;
}



@media screen and (max-width: 1170px){
  .polygon{
    width: calc(75vw + 25px);
  }
  #my-photo{
    right: calc(9vw - 25px);
  }
}
@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 3rem;
    /* line-height: 6.5rem; */
    letter-spacing: -0.5rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #f9f28a;
    color : #fefdec;
  }
  
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #6eb4d1;
    color : #6eb4d1;
    opacity:1;
    border-width: 0.10rem;
    width: 30%;
    
  
  }
}